Source: ros-jade-pr2-mechanism
Section: misc
Priority: extra
Maintainer: Devon Ash <dash@clearpathrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-jade-catkin
Homepage: http://ros.org/wiki/pr2_mechanism
Standards-Version: 3.9.2

Package: ros-jade-pr2-mechanism
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jade-pr2-controller-interface, ros-jade-pr2-controller-manager, ros-jade-pr2-hardware-interface, ros-jade-pr2-mechanism-diagnostics, ros-jade-pr2-mechanism-model
Description: The pr2_mechanism stack contains the infrastructure to control the PR2 robot in a hard realtime control loop.
